<div
  *ngIf="modalCatService.isOpen()"
  id="modal-overlay"
  class="fixed inset-0 flex justify-center items-center z-50"
  style="background-color: rgba(31, 41, 55, 0.80)"
  (click)="closeModalOutsideClick($event)"
>
  <div
    class="bg-white dark:bg-gray-900 dark:text-gray-100 p-8 rounded-lg shadow-lg max-w-md w-full relative"
    (click)="$event.stopPropagation()"
  >
    <button
      class="absolute top-2 right-2 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200 cursor-pointer"
      (click)="onClose()"
    >
      <i class="fas fa-times-circle text-2xl"></i>
    </button>

    <h2 class="text-2xl font-bold mb-4">
      Photo Date:
      {{ modalCatService.catData()?.createdAt | date: 'dd/MM/yyyy' }}
    </h2>

    <p class="mb-4">
      <span class="font-bold">Total votes: </span> {{ voteCount() }}
    </p>
s
    <div class="flex justify-center mb-4">
      <img
        [lazyLoad]="
          modalCatService.catData()?.imageUrl ??
          'assets/cat-image-placeholder-loading.jpg'
        "
        [defaultImage]="'assets/cat-image-placeholder-loading.jpg'"
        [errorImage]="'assets/cat-image-placeholder-error.jpg'"
        alt="Imagen del gato"
        class="max-w-[350px] max-h-[350px] object-cover rounded-lg"
      />
    </div>

    <div class="flex flex-col sm:flex-row justify-between items-center">
      <button
        class="bg-red-500 text-white px-4 py-2 rounded text-lg mb-4 sm:mb-0 sm:mr-2 hover:bg-red-600 transition-colors duration-300 cursor-pointer disabled:bg-gray-400 disabled:text-gray-600 disabled:cursor-not-allowed"
        [disabled]="!canRemove()"
        (click)="removeFromVoteList()"
      >
      Remove from voting list
      </button>
      <div class="flex items-center space-x-2">
        <button
          (click)="decrementVote()"
          [disabled]="voteCount() === 0"
          class="bg-orange-500 text-white px-4 py-2 rounded text-lg hover:bg-orange-600 transition-colors duration-300 disabled:bg-gray-400 disabled:cursor-not-allowed cursor-pointer"
        >
          -
        </button>
        <span class="text-lg font-medium">Votar</span>
        <button
          (click)="incrementVote()"
          class="bg-orange-500 text-white px-4 py-2 rounded text-lg hover:bg-orange-600 transition-colors duration-300 cursor-pointer"
        >
          +
        </button>
      </div>
    </div>
  </div>
</div>
